
<% include ../partials/header %>
    <main class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header lead bg-primary text-white">
                            Yelpcamp
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="Picture of the campground to be booked">

                        <div class="card-body">
                            <h2 class="card-title"><a href="#"><%= campground.name %></a></h2>

                            <p class="card-subtitle text-muted mb-3">$ 9.00/night</p>

                            <p class="card-text lead"><%= campground.description %></p>
                        </div>

                        <% if (campground.comments.length > 0) { %>
                            <div class="card-footer bg-transparent">
                                <p class="lead d-flex justify-content-between align-items-center">
                                    <span>Comments:</span>
                                    <a href="/campgrounds/<%= campground._id %>/comments/create" class="card-link btn btn-success">Add comment</a>
                                </p>


                                <ul class="list-group list-group-flush">
                                    <% campground.comments.forEach(comment => { %>
                                        <li class="list-group-item">
                                            <strong><%= comment.author %></strong>:<br>
                                            <%= comment.text %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
<% include ../partials/footer %>