
<% include ../partials/header %>
    <main class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header lead bg-primary text-white">
                            Yelpcamp
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="Picture of the campground to be booked">

                        <div class="card-body">
                            <h2 class="card-title d-flex justify-content-between">
                                <a href="#"><%= campground.name %></a>

                                <%# Showing edit and delete buttons only for the user who's registered the campground %> 
                                <% if (user && campground.author.id.equals(user._id)) { %>
                                    <span>
                                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-warning">Edit</a>
                                        <form action="/campgrounds/<%= campground._id %>" class="d-inline" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                        </form>
                                    </span>
                                <% } %>
                            </h2>

                            <p class="card-subtitle text-muted mb-3">$ 9.00/night</p>

                            <p class="card-text lead"><%= campground.description %></p>  
                        </div>

                        <div class="card-footer bg-transparent">
                            <p class="lead d-flex justify-content-between align-items-center">
                                <span>Comments:</span>
                                <a href="/campgrounds/<%= campground._id %>/comments/create" class="card-link btn btn-success">Add comment</a>
                            </p>

                            <% if (campground.comments.length > 0) { %>
                                <ul class="list-group list-group-flush">
                                    <% campground.comments.forEach(comment => { %>
                                        <li class="list-group-item">
                                            <div><strong><%= comment.author.username %></strong>:</div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span><%= comment.text %></span>
                                                
                                                <span>
                                                    <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-outline-warning">edit</a>

                                                    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>" method="post" class="d-inline">
                                                        <input type="hidden" name="_method" value="delete">
                                                        <button type="submit" class="btn btn-outline-danger">delete</button>
                                                    </form>
                                                </span>
                                            </div>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p class="text-center lead">Make your first comment</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<% include ../partials/footer %>